.link {
	float: right;
	display: block;
	clear: right;
}

.forminline {
	float: right;
	clear: both;
}

.forminline input {
	width: auto;
	clear: none !important;
	float: right;
	display: inline-block;
}
