.link {
	float: right;
	display: block;
	clear: right;
}

.flags li {
	list-style-type: none;
	display: inline-block;
}

.flags {
	float: right;
	display: inline-block;
	list-style-type: none;
}

.forminline {
	float: right;
	clear: both;
}

.forminline input {
	width: auto;
	clear: none !important;
	float: right;
	display: inline-block;
}
